@model Nop.Plugin.Sloppr.ShopByWarehouse.Models.PublicInfoModel

@{
    Layout = "";
}

@*<ul class="nav navbar-nav">
    @if (!string.IsNullOrEmpty(Model.FacebookUrl))
    {
        <li><a href="@Model.FacebookUrl" target="_blank"><i class="fa fa-facebook"></i></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.TwitterUrl))
    {
        <li><a href="@Model.TwitterUrl" target="_blank"><i class="fa fa-twitter"></i></a></li>
    }
</ul>*@